.themeBlack.form {
  .createBtn {
    border: 1px solid #2e3045;
  }
  .input {
    background: #25273c;
    color: white;

    &:focus {
      outline: none;
      box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.60);
    }
  }
}

.themeWhite.form {
  .createBtn {
    border: 1px solid #dcdcdc;
  }
  .input {
    background: #fff;
    color: #25273c;

    &:focus {
      outline: none;
      box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.30);
    }
  }
}