@import "theme";
.footerFilter {
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;

  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 4px;
    &:hover {
      background: rgb(35, 38, 58);
      border-radius: 4px;
    }
    &.active {
      color: #4268bc;
    }
  }

  .todoLeft {

  }

  .filterList {
    display: flex;
    gap: 10px;
  }

  .clear {

  }
}