.themeBlack.footerFilter {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.60);
  background: #25273c;
  color: #41435b;
  button {
    color: #41435b;
    &:hover {
      background: rgb(35, 38, 58);
    }
  }
}
.themeWhite.footerFilter {
  background: #fff;
  color: #b3b4b9;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.25);
  button {
    color: #b3b4b9;
    &:hover {
      background: rgb(246, 246, 246);
    }
  }
}